@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth focus:scroll-auto;
}

body {
    font-family: 'Custom', 'Open Sans', sans-serif;

    @apply font-sans bg-background;

    /* Add a patern to the background */
    background-image: radial-gradient(#e6f1ff0e 1.4500000000000002px, transparent 1.4500000000000002px);
    background-size: 29px 29px;
}