:root {
    --color-text: rgb(226, 232, 240);
    --color-text-description: rgba(181, 198, 223, 0.7);
    --color-text-background: rgba(138, 153, 173, 0.5);
    --color-background: rgb(15, 23, 42);
    --color-primary: rgb(136, 230, 219);
    --color-secondary: rgb(27, 67, 131);
    --color-accent: rgb(52, 64, 213);
}